/*=======================superfish=========================*/
/* NAVIGATION
========================================================================= */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
	float:right;
	/*width: 535px;*/
	margin: 7px 0;
	margin-right: 10px;
}
.sf-menu ul li {
	width: 100%;
}
ul.sf-menu>li>a>.sf-sub-indicator{
	display:block;
	position:absolute;
	width:5px;
	height:6px;
	background: url(../images/indicator.png) 0 0 no-repeat;
	top:23px;
	left:45%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -1px;
	top: 38px; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
nav {
	background: #580707 url('../images/nav-bg.jpg') repeat-x;
	position:relative;
	min-height: 45px;
	z-index: 3;
}
.sf-menu > li > a {
	font: 700 14px/29px 'Open Sans', sans-serif;
	color: #fff;
	padding: 0 10px 0 9px;
	border: 1px solid transparent;
}
.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
	border: 1px solid #931010;
	text-decoration:none;
	background: #440606 url('../images/menu-bg-hover.jpg') repeat-x;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 226px;
	padding: 0;
}
.sf-menu li li a {
	font: 10px/26px Arial, sans-serif;
	color: #2e2e2e;
	border: 1px solid #ffffff;
	padding-left: 13px;
	background:#f1f1f2;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #e5e5e5;
	text-decoration:none;
	border: 1px solid #2e2e2e;
	background:#2e2e2e;
}
.bot1 {
	padding-right:20px;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li > a {
		font: 700 12px/29px 'Open Sans', sans-serif;
		padding: 0 6px 0 5px;
		}

}

@media only screen and (max-width: 767px) {

		/*nav:before{
			content:'Menu:';
			text-align: left;
			display:block;
			margin-bottom:5px;
			color: #474747;
			
		}*/
	.sf-menu{display:none;float: none;}
	nav {
		/*background: none;*/
		position:relative;
		height: 25px;
		z-index: 103;
		padding-bottom: 0px;
		margin-top: 30px;
	}
	
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#101010;
		width:94%;
		left: 3%;
		margin: 0 auto;
		margin-top: 12px;
    	outline: none;
		border:2px solid #1e1e1e;
		position: relative;
		z-index: 1;
	}

	
}


@media only screen and (max-width: 480px) {
	nav select{
		/*width:300px;*/
		/*margin: 0;
		margin-top: 10px;
		margin: 0 auto;
		left: 50%;
		margin-left: -150px;*/
	}
}
